
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222222;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 30px 20px 20px;
    background: #181818;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    opacity: 0; 
    animation: slideIn 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    70% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.display {
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    background-color: #131313;
    color: aliceblue;
    pointer-events: none;
}

.Tasten {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.Tasten button {
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    background-color: #131313;
}

.Tasten button:active {
    transform: scale(0.99);
}

.btn {
    color: aliceblue;
}

.op {
    color: #2f9fff;
}
